@font-face {
    font-family: "UTMNeutra";
    src: url("../fonts/UTMNeutra.woff");
}
ol, ul {
    list-style: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
}
.header{
    display: block;
    padding: 1.25rem 0;
    position: relative;
    z-index: 99;
    padding-top: 15px;
}
.header-logo a{
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    width: 14.375rem;
    height: 3.6875rem;
    background: url(../images/logo.png) no-repeat center center;
    background-size: 94% auto;
}
.list-first{
    padding-left: 0px !important;
}
.header-list-info li{
    display: inline-block;
}
.address, .phone{
    color: white;
}
.header-list-menu li{
    display: inline-block;
    padding-left: 2.5rem;
}
.header-list-menu li a{
    display: block;
    color: #fff;
    font-weight: 500;
    position: relative;
    padding-bottom: .625rem;
    text-decoration: none;
}
.languages{
    border-left: 1px solid #fff;
    padding-left: 1.25rem;
    margin-left: 1.25rem;
}
.languages .btn-dropdown-cus{
    color: #fff;
}
.logo-language{
    width: 23px;
    height: 17.25px;
}
.btn-dropdown-cus{
    padding: 0px;
}
.banner{
    position: relative;
    margin-top: -123px;
}
.banner-title{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.banner-title h2{
    font-size: 3.125rem;
    font-family: 'UTMNeutra';
}
.banner-title p{
    font-size: 2.25rem;
    margin-top: .625rem;
    white-space: nowrap;
}
.icons img{
    width: 50px;
}
section{
    padding: 3.75rem 0;
    background: #fbfbfb;
}
.benefit-tilte{
    font-size: .75rem;
    color: #9b9b9b;
    font-weight: 700;
    display: block;
    margin-bottom: .625rem;
}

.card{
    margin-top: 40px;
    padding: 1.875rem;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.07);
    border-radius: 2px;
    height: 100%;
    box-sizing: border-box;
}
.card .title{
    margin-top: 1.25rem;
    font-size: .9375rem;
    color: #2c2c2c;
    display: block;
    font-family: 'UTMNeutra';
}
.card .price, .card .unit-price {
    font-size: .8125rem;
    color: #2c2c2c;
    display: block;
    margin-top: .9375rem;
}
.card .price {
    font-size: 1.4rem;
}
.card .price sub {
    font-size: .9375rem;
    padding-left: .3125rem;
    vertical-align: baseline;
}
.sub-text{
    bottom: 1px;
}
.nav-tabs-cus{
    border-bottom: none;
}
.nav-link-cus {
    display: block;
    padding: 0px;
}
.nav-tabs-cus .nav-link-cus.active {
    color: #145c90;
    background-color: #fbfbfb;
    border-color: #fbfbfb;
}
.nav-tabs-cus .nav-link-cus {
    border: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-tabs-cus li a{
    font-size: 2.25rem;
    color: #9b9b9b;
    font-weight: 700;
    display: block;
    font-family: 'UTMNeutra';
}
.nav-tabs-cus  li.active a, .nav-tabs-cus  li:hover a {
    color: #145c90;
}
.nav-tabs-cus .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #145c90;
    background-color: #fbfbfb;
    border-color:#fbfbfb;
}
.heading-box{
    font-size: 2.1875rem;
    font-family: 'UTMNeutra';
    color: #2c2c2c;
    line-height: 3.125rem;
}
.section-event{
    background: #fff;
}
.section-notification{
    background: #fbfbfb;
}
.heading-section{
    font-size: .9375rem;
    font-family: 'UTMNeutra';
    color: #2c2c2c;
    line-height: 1.4375rem;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.info-notification {
    padding: .9375rem;
    background: #fff;
    border: 1px solid #e3e8ea;
    margin: 0 .75rem;
}
.media-body h4{
    font-size: 16px;
}
.section-project{
    background: #fff;
}
.section-about{
    background: #fbfbfb;
}
.img-txt{
    align-items: center;
}
.text-image{
    margin-left: 5.3125rem;
}
.section-partner{
    background: #fbfbfb;
    border-top: 1px solid #f1f1f1;
}
.footer{
    background: #025b93;
    padding: 1.25rem 0 0;
}
.title-footer{
    font-size: 1.125rem;
    color: #fff;
    line-height: 1.75rem;
    font-family: 'UTMNeutra';
    margin-bottom: 1.0625rem;
}
.footer-center{
    align-items: center;
}
.list-follow li {
    display: inline-block;
    margin-right: .625rem;
    border: 1px solid #ccdee9;
    border-radius: 15px;
    padding: 2px 7px;
    background: #ccdee9;
}
.list-follow i{
    color: #025b93;
}
.footer-border-top{
    border-top: 1px solid #2272a4;
    padding: .625rem 0;
    margin-top: 1.25rem;
}
.footer-copyright .container{
    display: flex;
    justify-content: space-between;
}

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}